#body{
}
#container{
	height: auto;
	background-color: Tomato;
	color: white;
}
#header{
	background-color: DodgerBlue;
	color: white;
	text-align: center;
}
#content{
	margin-left: 250px;
    color: white;
}
#nav{
	padding: 20px;
	width: 500px;
	float: right;
}
#main{
	float: centre;
	width: 800px;
}
#main2{
}
#main3{
	width: 200px;
	text-align: justify;
	margin: 0px;
}
*{
      margin: 0;
      padding: 0;
    }
h1,h2{
      margin: 0;
      padding: 10;
    }	
#footer{
	color: white;
	text-align: center;
	clear: both;
}